# MongoDB
MONGO_HOST=127.0.0.1
MONGO_PORT=27017
MONGO_DB_NAME=yt_comments
MONGO_USER=yt_user
MONGO_PASSWORD=SECRET
MONGO_AUTH_SOURCE=yt_comments
MONGO_ADMIN_USER=admin
MONGO_ADMIN_PASSWORD=SuperSecretPassword

# Replica configuration
# ===========================================================
# Keep commented all params here while no replica needed.
# Current instance role - PRIMARY or SECONDARY
# To dump (from local to remote) set it to PRIMARY. Remote must be set to SECONDARY!! Also set valid remote host 
# To restore (from remote to local) set it to SECONDARY. Remote must be set to SECONDARY
# MONGO_ROLE=PRIMARY
# REPLICA_SET_NAME=ytcommentsReplicaSet
# Replications hosts, via comma
# MONGO_HOSTS=replica_host:27017
